
#ignore thumbnails created by windows
Thumbs.db
*.obj
*.bak
*.cache
*.ilk
*.log
*.o
*.d
*.axf
*.lnp
*.map
*.pbi
*.cout
*.dep
*.lst
*.bat
*.wsdt
*.sim
*.pbd
*.browse
*.TMP
*.sct
*.htm
*.iex
*.uvgui.*
*.uvopt
*JLink*
*.hex
*.dbgdt
*.dni
*.crun
*.wspos
*.ewt
*.bak
*.xcl
*.crf
*.linf
*.dnx
**/Exe/*.out
